@using CRYPTOCURRENCY_EXCHANGE_RECOMMENDATION.Models

@{
    ViewBag.Titulo = "Home page";
}
@model ExchangeClass


<div class="text-center">
    <h1 class="display-4">Crypto currency recomendation</h1>
    <div>
        @Html.DropDownList("TradeItems", null, new { onchange = "funcChamada(this.value);" })
        &nbsp;
        @Html.DropDownList("CoinItems", null, new { onchange = "" })
        &nbsp;
    </div>
</div>


<script>
    function funcChamada(valor) {
        
    }
</script>